/* colors: #f3b3b4 #bccf8e #b6a7d6 #f8da39 a2c2dd*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
:root {
    --bcolor: rgb(239,239,230,255);
    --border-color: rgb(80, 109, 215); 
    --cp-white: #f4f4f4;
}

nav {
    display: flex;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    white-space: nowrap;
}
/* #logo {
    height: 16vh;
    padding-left: 5vh;
    padding-top: 2vh;
    margin-top: 0vh;
} */
#nav-socials {
    padding-top: 3.5rem;
    gap: 1.5rem;
}
/*color on hover?? need instagram color*/
/*color when mouse is near??*/
/*save hover animation for a few seconds?*/
.fa-facebook {
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 1s;

}
.fa-facebook:hover {
    color: rgb(59, 91, 152);

}
.fa-youtube{
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 1s;
}
.fa-youtube:hover {
    color:crimson;
}
/*make instagram logo color fade in similar to youtube */
.fa-instagram {
    opacity: 1;
    cursor: pointer;
    color:rgb(255, 255, 255); 
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    z-index: 1;
    transition: opacity 0.5s linear; 
}
#instagram_id {
    opacity: 1;
    visibility: visible;
}

#instagram_id:hover::before {
    visibility: visible;
}
.insta-background {
    opacity: 1;
    background: -webkit-radial-gradient(33% 100% circle, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    transition: opacity 0.5s linear;
}


/* opacity 1 -> opacity 0, hover makes it 0->1*/
/*
.fa-instagram::before {
    opacity: 1;
    background-position: 0%, 0%;
    background-size: 0%, 0%;
    background: -webkit-radial-gradient(33% 100% circle, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    transition: opacity 0.5s linear;
    z-index: 0;
}
.fa-instagram:hover::before{
    opacity: 1;
}
*/

#nav-socials,
#nav-contact-section {
  flex-grow: 1;
}

#nav-logo-section {
  flex-basis: calc(100% /3);
  justify-content: flex-start;
}


#nav-links {
    padding-top: 4rem;
    flex-basis: 50%;
    gap: 6rem; 
}
.links::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}

nav .nav-section {
    padding: 2rem 1rem;
    padding-right: 3.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
#nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
}


#nav-logo {
  flex-basis: calc(100% / 4);
  justify-content: flex-start;
}
*{
    box-sizing: border-box;
    color: black;
}
/* find a way to show user what panel they are in*/
.underline-link{
    font-weight: 500;
    color:#000000;
    transition: all .5s;
}

a {
    color: rgba(0, 0, 0, 0.553);
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', Helvetica, sans-serif;

}
  
.link-hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    background: rgb(0, 0, 0);
}
  
.link-hover:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
}
.slide {
    width: 100vw;
    height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.slide-one {
    background: var(--cp-white);
    background-size: auto 100vh;
    background-repeat: repeat-x;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 2fr repeat(7, minmax(0, 1fr)) minmax(0, 2fr) repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
}
#one-section-header {
    font-size: 20pt;
    grid-row: 3/5;
    grid-column: 2/12;
}

#one-section-text1{
    font-size:20pt;
    grid-row: 6/8;
    grid-column: 2/12;    
} 
#one-section-text2{
    grid-row: 9/11;
    grid-column: 2/12;
    font-size: 20t;
} 
#froggie{
    grid-row: 9/10;
    grid-column: 2/12;
    height: 19vh;

}
#one > h1, #one > h2, #one > p {
    color: black;
}
.slide-two {
    background: var(--cp-white);
    width: 100vw;
    height: 100vh;
}
.three-event-date, .three-event-name{
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.slide-three {
    background: #f4f4f4;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 14fr 5fr;
    grid-template-rows: 4fr 9fr 2fr;
    grid-gap: 10px;
    font-weight: 500;

}
#three-events-flex {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-y: scroll;
    min-height: 0;
    min-width: 0;
}
.hidden {
    transition: 0.5s;
    opacity: 0;
}
.show {
    transition: 0.5s;
    opacity: 1;
}
.cards {
    background: #c6acff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 56% 34% 10%;
    grid-template-rows: 10% 65% 25%;
    gap: 7px;
    flex: calc(33% - .5rem);
    flex-grow: 1;
    flex-shrink: 1;
    height: 18vh;
}
#three-events-flex::-webkit-scrollbar {
    height: 12px;
}
  
#three-events-flex::-webkit-scrollbar-thumb,
#three-events-flex::-webkit-scrollbar-track {
    border-radius: 92px;
}
  
#three-events-flex::-webkit-scrollbar-track {
    background:  #eae1ff;
}
  
#three-events-flex::-webkit-scrollbar-thumb {
    background: #af8dff;
}

.three-event-date {
    grid-column: 1;
    grid-row: 1;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
}
.three-event-name {
    grid-column: 1;
    grid-row: 2;
    padding-left: 2.5rem;
}
.three-event-hyperlink {
    grid-column: 1;
    grid-row: 3;
    padding-left: 2.5rem;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    margin: none;
}

.three-event-desc {
    grid-column: 2;
    grid-row: 1;
    padding-top: 0.5rem;
}

.fa-pen-to-square {
    grid-column: 3;
    grid-row: 3;
    
}
.slide-four {
    background: var(--cp-white);
    width: 100vw;
    height: 100vh;
}
.slide-five {
    background: var(--cp-white);
    width: 100vw;
    height: 100vh;
}
/*make text #433f3d*/

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.outer-wrapper::-webkit-scrollbar {
    display:none;
}

